/*** Custom Styles ***/
.hero {
    background: url(images/Veterans-Day19_0176.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    background-attachment: fixed;
}
.banner {
   
    background-color: rgba(0, 0, 0, .6);
    padding: 2rem;
    color: rgba(255, 255, 255, 1);
}
